.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.github-link:link,
.github-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.github-link:hover,
.github-link:active {
  color: var(--color-light--2);
}
